 <!--Imtiaj Hossain: student ID: 301119638--> 
<div align="center"><!--Div to make the content centre-->
<h2 class="display-4"><b>Imtiaj Hossain</b></h2>
<img src="/Assests/images/myself.jpg" style="max-width:50%;" alt="myself" class="img-thumbnail">  <!--image location-->
    <p>
        <h3><span class="glyphicon glyphicon-education"></span>Education:</h3>
    </p>
    <p>
        <h5>Advanced Deploma</h5>
          <h5> Software Engineering Technology</h5>
        <h5>Centennial College, Scarbrough, Canada</h5>     
    </p>
    <p>To know me more</p>
        <a href="/Pdf/Resume.pdf"><!--git location for resume-->
        
            <h3><span class="glyphicon glyphicon-download"></span>Click Here Please</h3>           
        </a>
    </div>
</div>

