<!--Imtiaj Hossain: student ID: 301119638-->
<div align="center">
      <h2 class="display-4"><b>Imtiaj Hossain</b></h2>
      
      <p><h5>Mission Statement: Acquire Knowledge and Skills on Technology and Utilize them in Professional Career.</h5></p>
      </div>
      <img src="/Assests/images/homepage.jpg" class="img-fluid"alt="Responsive image"><!--image location-->

